apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    editable: true
    timeInterval: 30s
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: true
